<p id="notice"><%= notice %></p>


<%= link_to 'Start New Company', new_company_path %>
<div class="container">
<div class="large-12 columns">
    <div class="row">
       <% @companies.each do |company| %>
      <div class="large-4 small-6 columns">
        <div class="panel">
          <h5><%= company.name %></td></h5>
          <h6 class="subheader"><%= company.tax_number %></h6>
          <%= link_to 'Show', company, class: "btn btn-default" %>
          <%=  link_to 'Edit', edit_company_path(company), class: "btn btn-default" %>
        </div>
      </div>
      <%end%>
    </div>
</div>
</div>